* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: silver;
   /* color: var(--main-color);*/
}

/* Global Sytles Start*/
:root {
    --main-color: rgb(1, 100, 100);
    --secondary-color: rgba(192, 192, 192, 0.651);
    --tertiary-color: rgb(29, 29, 29);
}

.titles {
    padding-bottom: 100px;
    width: 30%;
}

.titles h2 {
    font-size: 50px;
    padding: 0 50px;
    text-align: right;
    color: var(--main-color);
}

/* Global Styles End */

/* Header Styles Start*/
header {
    background: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 55px;
    margin: 15px 30px;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 30px;
}

header a {
    color: var(--main-color);
}

header a {
    font-style: normal;
    text-decoration: none;
}

header ul {
    margin-right: 35px;
}

header ul li {
    display: inline;
    padding: 0 10px;
    font-size: 120%;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, .75);
}
/* Header Section Ends */

/* Hero Starts*/
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: right;
}

.hero div {
    background:  var(--secondary-color);
    align-items: bottom;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .75);
    border-radius: 5px;
    margin: 200px 35px 30px 0;
}

.hero div p {
    color: var(--tertiary-color);
    font-size: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .75);
    padding: 5px 10px;

}

/* Hero Ends */

/* About Me Section Starts */
.about-me {
    margin: 40px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.about-me article {
    border-left: 4px solid var(--main-color);
    color: var(--tertiary-color);
    font-size: 20px;
    width: 70%
}

.about-me p {
    color: var(--tertiary-color);
    margin: 0 30px 50px 10px;
    padding: 25px;
}
/* About Me Ends*/

/* Projects Section Starts */
.projects {
    margin: 20px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5000px;
}

.project-items {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    border-left: 4px solid var(--main-color);
}
.main-project {
    width: 65%;
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    margin: 0 30px 50px 10px;
}

.main-project a img {
    width: 100%;
    margin: 0 auto;
}


