* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Global Sytles Start*/
:root {
    --main-color: rgb(26, 184, 184);
    --color-text-main: rgb(207, 207, 207);
}

/* Global Styles End */

/* Header Styles Start*/
header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .75);
    font-size: 55px;
    padding: 15px 15px;
    font-weight: bold;
}

header a {
    font-style: normal;
    text-decoration: none;
    color: var(--color-text-main);
}
header ul li {
    display: inline;
    padding: 0 10px;
    font-size: 120%;
}

/* Header Section Ends */

/* Hero Starts*/
.hero {
    background-image: url(".assest/images/background.png");
    width: 100%;
}

.hero div {
    float: right;
    background-color: var(--main-color);
}

.hero div p {
    color: var(--color-text-main);
    font-size: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .75);

}

/* Hero Ends */

/* About Me Section Starts */
.about-me {
    margin: 40px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-me h2 {
    font-size: 35px;
    

}

.about-me-title {
    
    padding-bottom: 100px;
    border-right: 4px solid var(--main-color);
}